body {
    margin: 60px 35px;
    align-items: center;
   background-color:  #1F2937;
   font-family: 'Karla', sans-serif;
    
}
#passwords{
    display: flex;
    justify-content:space-around;
    padding-top: 25px;
    margin-top: 30px;
    border-top: 1px solid #2F3E53;
}
#pass1,#pass2{
    background-color: #273549;
    color: #55F991;
    padding: 10px 40px;
    border-radius: 5px;
}
#firstLine{
    color: white;
}
#secondLine{
    color: #4ADF86;
}
h2{
    color: #D5D4D8;
    font-size: 20px;
    
}
button{
    background-color: 
#10B981;
border: none;
color: #FFFFFF;
padding: 10px 25px;
border-radius: 5px;
margin-top: 25px;
}